<template id="level-db">
    <section class="db">
        <section class="info">
            <p class="name">Undefined</p>
            <p class="path">DB path</p>
        </section>
        <section class="manage">
            <button id="edit">E</button>
            <button id="delete">D</button>
        </section>
    </section>

    <style>
        section.db {
            height: 65px;
            margin-bottom: 5px;
            display: flex;
            background: rgba(0, 0, 0, 0.1);
            padding: 4px;
            border-radius: 4px;
        }
            section.db:hover {
                cursor: pointer;
                background: rgba(0, 0, 0, 0.2);
            }
            section.db > section.info {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 10px;
            }
                section.db > section.info > p {
                    margin: 0;
                    padding: 0
                }
                section.db > section.info p.name {
                    font-weight: bold;
                    font-size: 18px;
                }
                section.db > section.info p.path {
                    font-size: 12px;
                    font-style: italic;
                    color: #B0BEC5;
                }

            section.db > section.manage {
                width: 25px;
                margin-left: 10px;
                margin-right: 10px;
                flex-shrink: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
                section.db > section.manage > button {
                    height: 25px;
                    border-radius: 25px;
                    background: #212121;
                    color: #FFF;
                    border: none;
                    outline: none;
                }
                    section.db > section.manage > button:hover {
                        background: orange;
                        color: #212121;
                        cursor: pointer;
                    }
                section.db > section.manage > button + button {
                    margin-top: 6px;
                }
    </style>

</template>
