<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../public/master.css">
    <script src="../public/master.js"></script>
    <title>LevelDB GUI Manager</title>
</head>
<body>
    <section class="app_container">
        <aside>
            <ul class="menu">
                <li id="btn_add_db">Add DB</li>
                <li id="btn_del_db" class="disabled">Delete DB</li>
            </ul>
            <section class="db_list">
                <section class="db">

                </section>
                <section class="db">

                </section>
            </section>
        </aside>
        <main></main>
    </section>
</body>
</html>
