<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../public/master.css">
    <link rel="stylesheet" href="../public/css/fontello.css">
    <script src="../public/master.js" defer></script>
    <title>LevelDB GUI Manager</title>
</head>
<body>
    <section class="app_container">
        <aside>
            <section class="menu" id="btn_add_db">
                <i class="icon-plus-circled"></i>
                <p>Add DB</p>
            </section>
            <section class="db_list" id="dbs"></section>
        </aside>
        <main>
            <section class="nodb">
                <p>Please select a database in the left menu (or add a new one)</p>
            </section>
        </main>
    </section>

    <script type="text/javascript">
        const componentLoader = require("../public/scripts/componentLoader.js");
        async function DOMLoaded() {
            const loader = new componentLoader("public/components");
            await loader.initialize();
            await Promise.all([
                loader.loadComponent("level-db")
            ]);
        }
        document.addEventListener("DOMContentLoaded", () => {
            DOMLoaded().catch(console.error);
        });
    </script>
</body>
</html>
